*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-size: 100%;
}
body{
    font-family: sans-serif;
}

/*Header forma parte del inicio*/
header{
    background-color: #163F52;
    width: 100%;
    height: 80px;
    position: fixed;
    top:0;
    display: flex;
    justify-content: space-between;
    padding: 0px 16% 0px;
    z-index: 1;
}

nav ul{
    float: right;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0px 5px;
    top:auto;
}
nav ul li a{
    color: #818f96;
    font-size: 15px;
    padding: 7px 10px;
}


li a.active, li a:hover{
    color:white;
    transition: 0.5s;
}

li a.active{
    border-bottom: 2px solid #26D698;
    transition: 0.5s;
}
.imgLogo{
    height: 50px;
    margin-top: 10px;
}
/*Seccion Home o Inicio*/
section.inicio{
    margin-top: 80px;
    background-image: url("assets/images/Onda.png");
    background-color: #163F52;
    background-position: bottom left;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px 16% 0px;
    width: 100%;
    height: 100%;
}
/*Contenedor del mensaje e imagen*/
.container1{
    width: 100%;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-gap: 4rem;
    padding: 20px 0px 0px;
    position: relative;
}

.col2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.col1{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1.inicio {
    font-size: 3.2rem;
    color:white;
}
.imgBanner{
    width: 50%;
    display: block;
}

.imgsuperpuesta1{
    position: absolute;
    top: 15%;
    left:65%;
    transform:translate(-50%,-50%);
    width: 20%;
}

.imgsuperpuesta2{
    position: absolute;
    top: 85%;
    left: 95%;
    transform:translate(-50%,-50%);
    width: 20%;
}


.btnInscribete{
    background-color: #26D698;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 20px;
}
/*Contenedor de los servicios*/
.servicios{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 65px auto;
    text-align: center;
    background-color: white;
    padding: 10px 0px 0px;
    border-radius: 30px;
    box-shadow: 0px 8px 14px #888888;
    position: relative;
}
.card{
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 20px 20px;
    border-right: 3px solid black;
}
.card.ultimo {
    border-right:none;
}
h2.serviciosh2{
    font-size: 18px;
}

/* como funciona */
.comofunciona{
    padding: 60px;
    position: relative;
    width: 100%;
    height: auto;
    background-color: #163F52;
    scroll-margin-top: 78px;
}

.subComofunciona{
    font-weight: bold;
    text-align: center;
    padding-bottom: 2rem;
    color: white;
    padding: 3rem 0;
    scroll-margin-top: 78px;
}

.containerComofunciona{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18rem,1fr));
    grid-gap: 2rem;
}

.boxC{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background-color: #000000;
    border-radius: 15px;
}


.boxC img{
    width: 280px;
}
.boxComo img{
    width: 280px;
}
.boxComo{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background-color: #000000;
    border-radius: 15px;
}
.boxComo h3{
    padding-right: 52%;
    text-align: left;
    position: absolute;
    top: 250px;
    left: 30%;
    font-size: 30px;
    color: white;

}

.boxComo p{
    text-align: left;
    color: white;
    top: 260px;
    left: 100%;
    padding-left: 55%;
}


.boxC h3{
    text-align: left;
    position: absolute;
    top: 250px;
    left: 74%;
    font-size: 30px;
    color:white;
    padding-right: 10%;
}

.boxC p{
    text-align: left;
    color: white;
    top: 260px;
    left: 100%;
    padding-left: 55%;
}

/* prestamos */
.prestamos{
    padding: 25px;
    width: 100%;
    height: auto;
    background-color: white;
    scroll-margin-top: 78px;
}

.subPrestamos{
    font-weight: normal;
    text-align: center;
    padding-bottom: 2rem;
    padding: 3rem 0;
    scroll-margin-top: 78px;
}

.containerPrestamos{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18rem,1fr));
    grid-gap: 2rem;
}

.boxP{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.boxP img{
    width: 60px;
}


.boxP h2{
    text-align: center;
    color: black;
}


/* comunidad */
.comunidad{
    padding: 25px;
    width: 100%;
    height: auto;
    background-color: #163F52;
    scroll-margin-top: 78px;
}

.subComunidad{
    text-align: center;
    padding-bottom: 2rem;
    padding: 3rem 0;
    scroll-margin-top: 78px;
    color: white;
}

.subComunidad h1{
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    color: white;
}

.containerComunidad{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18rem,1fr));
    grid-gap: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.boxC1{
    padding: 20px;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: greenyellow;
}

.boxC2{
    max-width: 500px;
    word-break: break-all;
    padding: 20px;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    float: right;
    flex-grow: 1;

}

.boxC1 img{
    width: 300px;
    float: left;
    background-color: #FFC300;
}


.boxC1, .boxC2 h2{
    text-align: center;
    color: black;
    border-radius: 15px;
}

.boxC2 img{
    width: 100% ;
    height: 300px;
    float: left;
    object-fit: cover;
}

.containerparrafo{
    width: 400px;
    height: 150px;
    overflow: auto;
}

.containerparrafo p {
    word-break: break-all;
}

.boxP, .boxC2  p{
    text-align: center;
    color: white;
}


/* PLanes de pago*/

.planesdepago{
    padding: 60px;
    position: relative;
    width: 100%;
    height: auto;
    background-color: #78f0be;
    scroll-margin-top: 78px;
}

.subplanes{
    font-weight: bold;
    text-align: center;
    padding-bottom: 2rem;
    color: rgb(34, 85, 81);
    padding: 3rem 0;
    scroll-margin-top: 78px;
    font-size: 30px;
}

.containerSuscripcion{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18rem,1fr));
    grid-gap: 2rem;
}


.boxF {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 15px;
}


.boxF img{
    width: 300px;
}

.btnSuscribete{
    position: absolute;
    background-color: #26D698;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 20px;
    transform: translate(2%,250%);
}




.chatsito{
    padding: 60px;
    position: relative;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    scroll-margin-top: 78px;

    display: flex;
    justify-content: center;
    align-items: center;
}


.recomendaciones h1, h2{

    padding: 60px;
    position: relative;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    scroll-margin-top: 78px;
    color: black;
    justify-content: center;
    align-items: center;
}




/************************

Footer

************************/

footer{
    background-color: #163F52;
    color: white;
}
footer ul{
    padding:0;
}
footer li{
    list-style: none;
}
.wrap-footer{
    display: grid;
    grid-template-columns: 30% 15% 15% 20%;
    column-gap: 5%;
    padding: 1rem;
    margin: 2rem auto;
    max-width: 1200px;
}
.logo-element_footer{
    display: flex;
    margin: 2rem 0;
}
.logo-element_footer img{
    max-height: 75px;
}
.element-footer h5{
    margin: 1rem 0;
}
.text-element-footer li{
    line-height: 2;
}
.link-elements-footer li a{
    color:white;
}
.rrss-element-footer ul{
    display: flex;
    flex-flow: wrap;
}
.rrss-element-footer img{
    width: 35px;
}
.rrss-element-footer li{
    margin-right: 1rem;
}
.footer-creds{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: #0f1011;
    font-size: .9rem;
    max-width: 1200px;
    margin: 0 auto;
}
.legal-creds ul{
    display: flex;
    flex-flow: row;
}
.legal-creds ul li{
    padding-right: 1rem;
}
.legal-creds ul a{
    color: #0f1011;
    font-size: .9rem;
}

@media (max-width:1200px){
    .wrap-footer{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:480px){
    .wrap-footer{
        grid-template-columns: repeat(1,1fr);
    }
}

@media (max-width:320px){
    .footer-creds{
        flex-flow: column;
        background-color: #163F52;
        scroll-margin-top: 78px;
    }
}



.Titulo{
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 3rem 0;
    scroll-margin-top: 78px;
    font-size: 35px;
}

.subtitulo{
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 3rem 0;
    scroll-margin-top: 78px;
    font-size: 20px;
}
.texto{
    font-weight: bold;
    text-align: center;
    color:#818f96;
    padding: 3rem 0;
    scroll-margin-top: 50px;
    font-size: 15px;
}
.btnEnviar{
    background-color: #26D698;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 20px;
}
.Txtbox{
    background-color: #163F52;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 15px;
}